* {
  box-sizing: border-box;
}
header {
  font-family: 'Roboto Slab', serif;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

body {
  font-size: 0;
  margin:0;
}

main {
  background-color: #E5F3F2;
  font-family: 'Open Sans', sans-serif;
  height: 335px;
  margin: 0;
  width: 100%;
}

input {
  border: 2px solid #c2c6c7;
  color: black;
  font-size: 25px;
  padding: 6px;
  width: 53.5vw;
}

b {
  color:#6D6E71;
}

img {
  height: 30px;
  width: 30px;
}

button {
  border-style: none;
    background-color: #FFF;
    color: #00A79D;
    border: solid 2px #00A79D;
    font-family: 'Open Sans',
    sans-serif;
    font-size: 14px;
    width: 120px;
    height: 30px;
   flex:5%;
   float: right;
   margin-left: 275px;
}

button:hover {
  background-color: #00A79D;
    color: #FFF;
}

label {
  display: inline-block;
  font-size: 20px;
}

p {
  color:#939598;
  font-size: 18px;
}

ul {
  height: 100%;
  margin:0;
  padding: 0;
  width: 100%;
}

select {
  border:none;
  color:#939598;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bolder;
  outline: none;
}

span {
  display: inline-block;
}

textarea {
  border:none;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  resize: none;
}

::placeholder {
  color:#c5c6c8;
}

#idea-template {
  display: none;
}

.input-form {
  width: 100%;
}

.first-line {
  display:flex;
}

.wrapper {
  margin:10px auto;
  margin-top: 0;
  width: 50%;
}

.idea-header {
  color: #00A79D;
  font-size: 70px;
  margin: 0;
}

.title-input {
  outline: none;
  width: 100%;
}

.title {
  color: #6D6E71;
  display: inline-block;
  flex:95%;
  font-size: 30px;
  font-weight: bold;
  margin:0;
}

.body-input {
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;
  width: 100%;
}

.save-button {
  background-color: #00A79D;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  padding: 5px;
  width: 100%;
}

.save-button:hover {
  background-color: #045E55;
  outline: none;
}

.save-button:disabled {
  opacity: 0.5;
  border: 2px solid #bdbfbf;
}

.inline {
  display: inline-block;
  display: flex;
  justify-content: space-around;
}

.ideaLevel {
  display: inline-block;
  flex-shrink: 0;
  width: 20px;
}

.second-section {
  box-sizing: border-box;
  display: block;
  height: 100%;
  margin-top: 75px;
}

.search-box {
  margin-bottom: 15px;
  outline: none;
  width: 100%;
}

.new-ideas {
  border-bottom: #D1D3D4 solid 3px;
  margin-top: 30px;
}

.delete-button {
  flex:5%;
  float: right;
  z-index: 5;
}

.delete-button:hover {
  transition: 1s;
  content: url('../images/delete-hover.svg');
}

.line-three {
  display: flex;
  margin-bottom: 25px;
  width: 100%;
}

.up-vote {
  display:inline-block;
  margin-bottom: 5px;
  margin-right: 10px;
  width: 30px;
}

.up-vote:hover {
  transition: 1s;
  content: url('../images/upvote-hover.svg');
}

.down-vote:hover {
  transition: 1s;
  content: url('../images/downvote-hover.svg');
}

.quality {
  display:inline-block;
  font-weight: bolder;
  margin:0;
}


.down-vote {
  display: inline-block;
  margin-right: 20px;
}

.example-body {
  color:#939598;
  font-size: 25px;
  margin: 15px 0 17px 0;
  width: 100%;
}

.hidden {
  display:none;
}
@media only screen and (max-width: 1100px) {
.wrapper {
  width: 65%;
}

}
@media only screen and (max-width: 690px) {

main {
  height: 294px;
}  

input {
  width: 98%;
}

.hidden {
    border: 2px solid #c2c6c7;
    color: black;
    display:inline-block;
    font-size: 25px;
    padding: 6px;
    width: 98%;
}   

.first{
  display: none;
}

.wrapper{
  width: 80%;
}

.idea-header {
  font-size: 50px;
}

.save-button {
  padding: 5px;
}

.second-section {
  margin-top: 55px;
}

.line-three {
width: 240px;
}

}
